{% extends "main_layout.html" %}

{% block title %}Student{% endblock %}

{% block content %}
<div style="width: 80%; margin-top: 16px;">
  <h2>Student Info</h2>
  
  <div id="notification" style="display: none;"></div>
  <form id="form" method="POST" onsubmit="handleSubmitForm(event)">
    <div style="display: flex; align-content: center;">
      <div style="display: flex; gap: 16px;">
        <div>
          <label for="student_id">Student ID:</label>
          <input
            style="max-width: 200px;"
            class="input-field"
            type="text"
            id="student_id"
            name="student_id"
            required
          />
        </div>
        <div>
          <label for="name">Student name:</label>
          <input class="input-field" type="text" id="name" name="name" required />
        </div>
        <div>
          <label for="dept_id">Department ID:</label>
          <input
            style="max-width: 200px;"
            class="input-field"
            type="text"
            id="dept_id"
            name="dept_id"
            required
          />
        </div>
        <div>
          <label for="num_of_faculty">Date of birth:</label>
          <input class="input-field" type="date" id="dob" name="dob" required/>
        </div>
      </div>
      
    </div>
    <button class="submit-button" type="submit">Submit</button>
  </form>
  <br/>
  {% if students|length > 0 %}
    <table border="1" class="table-class">
      <thead>
        <tr>
          <td>ID</td>
          <td>Student ID</td>
          <td>Student name</td>
          <td>Department ID</td>
          <td>Date of Birth</td>
        </tr>
      </thead>
      <tbody>
        {% for student in students%}
        <tr>
          <td>{{loop.index}}</td>
          <td 
            id="id-{{student['id']}}"
            style="padding-right: 8px"
          >
            {{student['student_id']}}
          </td>
          <td 
            id="name-{{student['id']}}"
            style="padding-right: 8px; width: 160px;"
          >
            {{student['name']}}
          </td>
          <td id="dept-{{student['id']}}" style="width: 160px;">
            {{student['dept_id']}}
          </td>
          <td id="dob-{{student['id']}}">
            {{ student['dob'].strftime("%Y-%m-%d") }}
          </td>
          <td style="width: 50px; ">
            <div id="button-{{student['id']}}" style="display: flex; justify-content: space-between; justify-self: center;">
              <i 
                class="fa-regular fa-pen-to-square" 
                style="cursor: pointer; margin-right: 8px;" 
                type="button"
                onclick="onEditButtonClick('{{student['id']}}')"
              ></i>
              <i 
                class="fa-solid fa-trash"
                style="cursor: pointer;" 
                type="button"
                uk-toggle="target: #modal-center"
                onclick="storeRecordId('{{student['id']}}')"
              ></i>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No departments available.</p>
  {% endif %}
  <div id="modal-center" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"">
      <h2 style="justify-self: center;">Delete this record?</h2>
      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        <button class="uk-button uk-button-danger" type="button" onclick="onDeleteButtonClick()">Delete</button>
      </p>
    </div>
  </div>
</div>

<script>
  var initButtonContainerInnerHTML;
  var initStudentIdRowInnerHTML;  
  var initNameRowInnerHTML;
  var initDeptIdRowInnerHTML;
  var initDobInnerHTML;
  var currentRecordId;

  function storeRecordId(id) {
    currentRecordId = id;
  }

  async function handleSubmitForm(event) {
    event.preventDefault(); // Prevent the form from submitting the traditional way

    const form = document.getElementById('form');
    const formData = new FormData(form);

    try {
      const response = await fetch(form.action, {
        method: 'POST',
        body: formData
      });

      if (!response.ok) {
        const errorData = await response.json();
        
        const notification = document.getElementById('notification');
        const studentIdContainer = document.getElementById('student_id');
        const deptIdContainer = document.getElementById('dept_id');
        const studentNameContainer = document.getElementById('name');
        const dobContainer = document.getElementById('dob');

        studentIdContainer.value = "";
        deptIdContainer.value = "";
        studentNameContainer.value = "";
        dobContainer.value = "";

        notification.style = `
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          padding: 8px;
          background-color: rgb(255, 215, 222);
          color: red; 
          font-weight: bold;
        `;
        notification.innerHTML = `
          <p style="text-align: center; margin: 0 !important;">${errorData.error || 'An error occurred'}</p>
          <i 
            class="fa-regular fa-circle-xmark" 
            type="button"
            onclick="closeNotification()"
          ></i>
        `;
        // 
      } else {
        // If successful, reload the page or update the UI as needed
        window.location.href = "{{ url_for('student_routes.get_all_student_route') }}";
      }
    } catch (error) {
      notification.style.display = 'block';
      notification.innerText = 'An error occurred while submitting the form.';
      console.error('Submission error:', error);
    }
  }

  function closeNotification() {
    const notification = document.getElementById('notification');
    notification.style.display = 'none';
  }

  function onEditButtonClick(id) {
    const buttonContainer = document.getElementById("button-" + id);
    const studentIdRow = document.getElementById("id-" + id);
    const deptIdRow = document.getElementById("dept-" + id);
    const nameRow = document.getElementById("name-" + id);    
    const dobRow = document.getElementById("dob-" + id);

    initStudentIdRowInnerHTML = studentIdRow.innerHTML;
    initButtonContainerInnerHTML = buttonContainer.innerHTML;
    initDeptIdRowInnerHTML = deptIdRow.innerHTML;
    initNameRowInnerHTML = nameRow.innerHTML;
    initDobInnerHTML = dobRow.innerHTML;
   
    const date = new Date(dobRow.innerText);
    const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based
    const day = String(date.getDate()).padStart(2, '0');
    const year = date.getFullYear();
    const formattedDate = `${year}-${month}-${day}`;

    buttonContainer.innerHTML = `
      <i 
        class="fa-solid fa-check"
        style="cursor: pointer; margin-right: 8px" 
        type="button"
        onclick="submitEdit(${id})"
      ></i>
      <i 
        class="fa-solid fa-xmark"
        style="cursor: pointer;" 
        type="button"
        onclick="closeEdit(${id})"
      ></i>
    `;

    studentIdRow.innerHTML = `
      <input 
        style="width: 120px;"
        class="input-field"
        type="text" 
        id="id-input-${id}" 
        value="${studentIdRow.innerText}"
      >
    `;

    nameRow.innerHTML = `
      <input 
        style="width: 160px;"
        class="input-field"
        type="text" 
        id="name-input-${id}" 
        value="${nameRow.innerText}"
      >
    `;

    deptIdRow.innerHTML = `
      <input 
        style="width: 100px;"
        class="input-field"
        type="text" 
        id="dept-input-${id}" 
        value="${deptIdRow.innerText}"
      >
    `;

    dobRow.innerHTML = `
      <input 
        style="width: 120px;"
        class="input-field"
        type="date" 
        id="dob-input-${id}" 
        value="${formattedDate}"
      >
    `; 
  }

  function submitEdit(id) {
    const buttonContainer = document.getElementById("button-" + id);
    const studentId = document.getElementById("id-input-" + id).value;
    const deptId = document.getElementById("dept-input-" + id).value;
    const name = document.getElementById("name-input-" + id).value;
    const dob = document.getElementById("dob-input-" + id).value;

    $.ajax({
      url: "/student/update/" + id,
      type: "PUT",
      contentType: "application/json",
      data: JSON.stringify({
        student_id: studentId,
        dept_id: deptId,
        name: name,
        dob: dob
      }),
      success: function () {
        location.reload();
        // alert("Attendance updated successfully!");
      },
      error: function (err) {
        const notification = document.getElementById('notification');
        notification.style = `
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          padding: 8px;
          background-color: rgb(255, 215, 222);
          color: red; 
          font-weight: bold;
        `;

        notification.innerHTML = `
          <p style="text-align: center; margin: 0 !important;">${err.responseJSON.error || 'An error occurred'}</p>
          <i 
            class="fa-regular fa-circle-xmark" 
            type="button"
            onclick="closeNotification()"
          ></i>
        `
        closeEdit(id);
      },
    });
  }

  function closeEdit(id) {
    const buttonContainer = document.getElementById("button-" + id);
    const studentIdRow = document.getElementById("id-" + id);
    const deptIdRow = document.getElementById("dept-" + id);
    const nameRow = document.getElementById("name-" + id);    
    const dobRow = document.getElementById("dob-" + id);

    buttonContainer.innerHTML = initButtonContainerInnerHTML;
    studentIdRow.innerHTML = initStudentIdRowInnerHTML;
    deptIdRow.innerHTML = initDeptIdRowInnerHTML;
    nameRow.innerHTML = initNameRowInnerHTML;
    dobRow.innerHTML = initDobInnerHTML;
  }

  function onDeleteButtonClick() {
    $.ajax({
      url: "/student/delete/" + currentRecordId,
      type: "DELETE",
      contentType: "application/json",
      success: function () {
        location.reload();
        // alert("Attendance deleted successfully!");
      },
      error: function (err) {
        alert("Error: Student delete failed!");
        console.error("Error deleting student:", err);
      },
    });
  }
</script>
{% endblock %}
